{% extends 'todo_task/base.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}">Username:</label>
      <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" required>
    </div>
    <div class="form-group">
      <label for="{{ form.password.id_for_label }}">Password:</label>
      <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="{% url 'todo_task:task_list' %}" class="btn btn-secondary">Back to Task List</a>
  </form>
{% endblock content %}
