{% extends 'todo_task/base.html' %}

{% block content %}
<h4 class="container">
    {% if user.is_authenticated %}
        <h4 class="mt-4 mb-4">タスク・リスト（{{ user.username }}）</h4>
    {% else %}
        <h4 class="mt-4 mb-4">タスク・リスト [ログインしていません]</h4>
    {% endif %}
</h4>
  <a href="{% url 'todo_task:task_create' %}" class="btn btn-success mb-3">新規タスク</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">タイトル</th>
        <th scope="col">説明</th>
        <th scope="col">期限</th>
        <th scope="col">完了日</th>
        <th scope="col">アクション</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.due_date }}</td>
          <td>{{ task.completed }}</td>
          <td>
            <a href="{% url 'todo_task:task_detail' task.id %}" class="btn btn-info">Details</a>
            <a href="{% url 'todo_task:task_update' task.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'todo_task:task_delete' task.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

